<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Sistema de Atencion A Solicitudes! | </title>

    @RenderSection("styles", required: false)
    <link href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/nprogress/support/style.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/iCheck/skins/flat/green.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/switchery/dist/switchery.min.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/toastmessage/css/jquery.toastmessage.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/EasyAutocomplete-1.3.5/easy-autocomplete.min.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/EasyAutocomplete-1.3.5/easy-autocomplete.themes.min.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/build/css/custom.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/build/css/custom.min.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/nprogress/support/style.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/custom.min.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/custom.css" rel="stylesheet" />
    

</head>
<body class="nav-md footer_fixed">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col ">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/" class="site_title"><i class="fa fa-institution"></i> <span>S.A.S</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    @Html.Partial("_LoginPartialSecond")
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                       @* @Html.Action("CargarMenu", "Accesos")*@
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        @Html.Partial("_LoginPartial")
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Sistema de Atencion a Solicitudes - &copy; @DateTime.Now.Year
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    @RenderSection("Scripts", required: false)

    <script src="~/Assets/js/jquery.validate.min.js"></script>
    <script src="~/Assets/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Assets/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Assets/js/modernizr-2.6.2.js"></script>
    <script src="~/Assets/js/spin.min.js"></script>
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Assets/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="~/Assets/bower_components/switchery/dist/switchery.min.js"></script>
    <script src="~/Assets/bower_components/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/Assets/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Assets/bower_components/parsleyjs/dist/parsley.min.js"></script>
    <script src="~/Assets/bower_components/toastmessage/jquery.toastmessage.js"></script>
    <script src="~/Assets/bower_components/EasyAutocomplete-1.3.5/jquery.easy-autocomplete.min.js"></script>
    <script src="~/Assets/bower_components/build/js/custom.min.js"></script>
    <script src="~/Assets/bower_components/build/js/custom.js"></script>
    <script src="~/Assets/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Assets/bower_components/moment/min/tests.js"></script>
    <script src="~/Assets/bower_components/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Assets/bower_components/flot/jquery.flot.js"></script>
    <script src="~/Assets/bower_components/flot/jquery.flot.pie.js"></script>
    <script src="~/Assets/bower_components/flot/jquery.flot.stack.js"></script>
    <script src="~/Assets/bower_components/flot/jquery.flot.time.js"></script>
    <script src="~/Assets/bower_components/flot.curvedlines/curvedLines.js"></script>
    <script src="~/Assets/bower_components/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Assets/bower_components/skycons/skycons.js"></script>
    <script src="~/Assets/bower_components/iCheck/icheck.min.js"></script>
    <script src="~/Assets/bower_components/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/Assets/bower_components/gauge.js/dist/gauge.min.js"></script>
    <script src="~/Assets/bower_components/Chart.js/dist/Chart.min.js"></script>
    <script src="~/Assets/bower_components/nprogress/nprogress.js"></script>
    <script src="~/Assets/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Assets/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Assets/bower_components/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Assets/bower_components/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Assets/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Assets/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Assets/bower_components/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Assets/bower_components/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Assets/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Assets/bower_components/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Assets/bower_components/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Assets/bower_components/jszip/dist/jszip.min.js"></script>
    <script src="~/Assets/bower_components/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Assets/bower_components/pdfmake/build/vfs_fonts.js"></script>
            
</body>
</html>